.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  /* background: #d3d3d3; */
  background: linear-gradient(to bottom, black 0%,black 50%,#000000 50%,white 50%,white 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* Header */
.header-right {
  float: right;
}

.header-col {
  background-color: #2C596A
}

/* Home Header  not used */
.btn-header {
  background: #2C596A;
  color: #fff;
}

.btn-header:hover {
  background: #2C596A;
  color: #fff;
}
/* Header base */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link:active {
  color: #fff !important;
  background-color: green !important;
}

/* Form color */
.bd-form {
  background: rgb(216, 235, 216);
}

/* user name */
.user-name {
  padding-top: 20px;
  float: right;
}

/* Tabs Padding */
.nav-tab {
  padding-top: 20px;
}

/* Body */
.bd-color {
  background-color: #f4faf5;
}

.tabs-color {
  color:green;
  font-weight:bolder;
}

/* categories */
a.tabs:hover{
  color: green;
  text-decoration: underline;
}

/* a.tabs:active */
a.tabs:focus{
  background-color: green;
  color: white;
  
}
/* Time & Date */
.ti-date {
  color: gray;
  font-size: 12px;
}

/* News Title */
.cat-tit {
  color: #000000;
  font-size: 24px;
  font-family: 'Lucida Sans', Georgia, Verdana;
  font-weight: bold;
}

/* main content */
.cat-content {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Read more btn */
.btn-readmore {
  color: green;
  padding-left: 20px;
  font-size: 14px;
}

a.btn:hover{
  color: green;
  padding-left: 20px;
  font-size: 14px;
}

.btn-close {
  background-color: #2C596A
}

.pg-signup {
  font-size: 12px;
}

.pg-box {
  height: 38px !important;
}

.pg-outbox {
  padding-left: 0px;
}

/* Footer */

















