<!-- templates/home.html-->
{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}Home{% endblock %}

{% block content %}
    {% update_variable True as flag %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Features-Boxed.css'%}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% if user.is_authenticated %}
        <div class="user-name">
            Hi {{ user.username }} !
        </div>
        <ul class="nav nav-pills nav-tab" role="tablist">
            {% if user.usa %}
                <li class="nav-item"><a class="nav-link tabs-color tabs" data-toggle="pill" href="#usa">USA</a></li>
            {% endif %}
            {% if user.world %}
                <li class="nav-item"><a class="nav-link tabs-color tabs" data-toggle="pill" href="#world">World</a></li>
            {% endif %}
            {% if user.business %}
                <li class="nav-item"><a class="nav-link tabs-color tabs" data-toggle="pill" href="#business">Business</a></li>
            {% endif %}
            {% if user.opinion %}
                <li class="nav-item"><a class="nav-link tabs-color tabs" data-toggle="pill" href="#opinion">Opinion</a></li>
            {% endif %}
            {% if user.health %}
                <li class="nav-item"><a class="nav-link tabs-color tabs" data-toggle="pill" href="#health">Health</a></li>
            {% endif %}
            {% if user.entertainment %}
                <li class="nav-item"><a class="nav-link tabs-color tabs" data-toggle="pill" href="#entertainment">Entertainment</a></li>
            {% endif %}
            {% if user.style %}
                <li class="nav-item"><a class="nav-link tabs-color tabs" data-toggle="pill" href="#style">Style</a></li>
            {% endif %}
            {% if user.travel %}
                <li class="nav-item"><a class="nav-link tabs-color tabs" data-toggle="pill" href="#travel">Travel</a></li>
            {% endif %}
            {% if user.sports %}
                <li class="nav-item"><a class="nav-link tabs-color tabs" data-toggle="pill" href="#sports">Sports</a></li>
            {% endif %}
        </ul>
        <br>

        <div class="tab-content">
            <!-- START USA -->
        {% if user.usa %}
            {% if flag %}
                <div id="usa" class="container tab-pane in active">
                {% update_variable False as flag %}
            {% else %}
                <div id="usa" class="container tab-pane">
            {% endif %}
                
                {% for news in usanews %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="cat-tit">{{news.title}}</h5>
                            <p class="card-title ti-date">
                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text cat-content">
                                {{news.data.0}}
                            </p>
                            <p class="card-text cat-content">
                                {{news.data.1}}
                            </p>
                            <small>
                                <a  class="btn-readmore btn" href="#"  data-toggle="modal" data-target="#{{news.title}}">Read More...</a>
                                <div class="modal fade modal0" id="{{news.title}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            </small>{}
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <h5 class="modal-title cat-tit" id="exampleModalLabel">{{news.title}}</h5>
                                            <p class="card-title ti-date">
                                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                                            </p>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for para in news.data %}
                                            <p class="cat-content">{{para}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                {% endfor %}
            <a class="btn btn-success nt-btn" href="https://www.cnn.com/us" target="_blank">Read more USA news on CNN</a>
        </div>
        {% endif %}
        <!-- END USA -->


        <!-- START WORLD -->
        {% if user.world %}
            {% if flag %}
                <div id="world" class="container tab-pane in active">
                {% update_variable False as flag %}
            {% else %}
                <div id="world" class="container tab-pane">
            {% endif %}
                
                {% for news in worldnews %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="cat-tit">{{news.title}}</h5>
                            <p class="card-title ti-date">
                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text cat-content">
                                {{news.data.0}}
                            </p>
                            <p class="card-text cat-content">
                                {{news.data.1}}
                            </p>
                            <small>
                                <a class="btn-readmore btn" href="#" data-toggle="modal" data-target="#{{news.title}}">Read More...</a>
                                <div class="modal fade modal0" id="{{news.title}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            </small>{}
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <h5 class="modal-title cat-tit" id="exampleModalLabel">{{news.title}}</h5>
                                            <p class="card-title ti-date">
                                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                                            </p>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for para in news.data %}
                                            <p class="cat-content">{{para}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                    {% endfor %}
                    <a class="btn btn-success nt-btn" href="https://www.cnn.com/world" target="_blank">Read more World news on CNN</a>
        </div>
        {% endif %}
        <!-- END WORLD -->


        <!-- START BUSINESS -->
        {% if user.business %}
            {% if flag %}
                <div id="business" class="container tab-pane in active">
                {% update_variable False as flag %}
            {% else %}
                <div id="business" class="container tab-pane">
            {% endif %}
                
                {% for news in businessnews %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="cat-tit">{{news.title}}</h5>
                            <p class="card-title ti-date">
                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text cat-content">
                                {{news.data.0}}
                            </p>
                            <p class="card-text cat-content">
                                {{news.data.1}}
                            </p>
                            <small>
                                <a class="btn-readmore btn" href="#" data-toggle="modal" data-target="#{{news.title}}">Read More...</a>
                                <div class="modal fade modal0" id="{{news.title}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            </small>{}
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <h5 class="modal-title cat-tit" id="exampleModalLabel">{{news.title}}</h5>
                                            <p class="card-title ti-date">
                                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                                            </p>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for para in news.data %}
                                            <p class="cat-content">{{para}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                {% endfor %}
            <a class="btn btn-success nt-btn" href="https://www.cnn.com/business" target="_blank">Read more Business news on CNN</a>
        </div>
        {% endif %}
        <!-- END BUSINESS -->


         <!-- START OPINION -->
        {% if user.opinion %}
            {% if flag %}
                <div id="opinion" class="container tab-pane in active">
                {% update_variable False as flag %}
            {% else %}
                <div id="opinion" class="container tab-pane">
            {% endif %}
                
                {% for news in opinionnews %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="cat-tit">{{news.title}}</h5>
                            <p class="card-title ti-date">
                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text cat-content">
                                {{news.data.0}}
                            </p>
                            <p class="card-text cat-content">
                                {{news.data.1}}
                            </p>
                            <small>
                                <a class="btn-readmore btn" href="#" data-toggle="modal" data-target="#{{news.title}}">Read More...</a>
                                <div class="modal fade modal0" id="{{news.title}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            </small>{}
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <h5 class="modal-title cat-tit" id="exampleModalLabel">{{news.title}}</h5>
                                            <p class="card-title ti-date">
                                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                                            </p>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for para in news.data %}
                                            <p class="cat-content">{{para}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                {% endfor %}
            <a class="btn btn-success nt-btn" href="https://www.cnn.com/opinions" target="_blank">Read more Opinion news on CNN</a>
        </div>
        {% endif %}
        <!-- END OPINION -->


        <!-- START HEALTH -->
        {% if user.health %}
            {% if flag %}
                <div id="health" class="container tab-pane in active">
                {% update_variable False as flag %}
            {% else %}
                <div id="health" class="container tab-pane">
            {% endif %}
                
                {% for news in healthnews %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="cat-tit">{{news.title}}</h5>
                            <p class="card-title ti-date">
                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text cat-content">
                                {{news.data.0}}
                            </p>
                            <p class="card-text cat-content">
                                {{news.data.1}}
                            </p>
                            <small>
                                <a class="btn-readmore btn" href="#" data-toggle="modal" data-target="#{{news.title}}">Read More...</a>
                                <div class="modal fade modal0" id="{{news.title}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            </small>{}
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <h5 class="modal-title cat-tit" id="exampleModalLabel">{{news.title}}</h5>
                                            <p class="card-title ti-date">
                                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                                            </p>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for para in news.data %}
                                            <p class="cat-content">{{para}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                {% endfor %}
            <a class="btn btn-success nt-btn" href="https://www.cnn.com/health" target="_blank">Read more Health news on CNN</a>
        </div>
        {% endif %}
        <!-- END HEALTH -->


        <!-- START ENTERTAINMENT -->
        {% if user.entertainment %}
            {% if flag %}
                <div id="entertainment" class="container tab-pane in active">
                {% update_variable False as flag %}
            {% else %}
                <div id="entertainment" class="container tab-pane">
            {% endif %}
                
                {% for news in entertainmentnews %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="cat-tit">{{news.title}}</h5>
                            <p class="card-title ti-date">
                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text cat-content">
                                {{news.data.0}}
                            </p>
                            <p class="card-text cat-content">
                                {{news.data.1}}
                            </p>
                            <small>
                                <a class="btn-readmore btn" href="#" data-toggle="modal" data-target="#{{news.title}}">Read More...</a>
                                <div class="modal fade modal0" id="{{news.title}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            </small>{}
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <h5 class="modal-title cat-tit" id="exampleModalLabel">{{news.title}}</h5>
                                            <p class="card-title ti-date">
                                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                                            </p>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for para in news.data %}
                                            <p class="cat-content">{{para}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                {% endfor %}
            <a class="btn btn-success nt-btn" href="https://www.cnn.com/entertainment" target="_blank">Read more Entertainment news on CNN</a>
        </div>
        {% endif %}
        <!-- END ENTERTAINMENT -->


      <!-- START STYLE -->
        {% if user.style %}
            {% if flag %}
                <div id="style" class="container tab-pane in active">
                {% update_variable False as flag %}
            {% else %}
                <div id="style" class="container tab-pane">
            {% endif %}
                
                {% for news in stylenews %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="cat-tit">{{news.title}}</h5>
                            <p class="card-title ti-date">
                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text cat-content">
                                {{news.data.0}}
                            </p>
                            <p class="card-text cat-content">
                                {{news.data.1}}
                            </p>
                            <small>
                                <a class="btn-readmore btn" href="#" data-toggle="modal" data-target="#{{news.title}}">Read More...</a>
                                <div class="modal fade modal0" id="{{news.title}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            </small>{}
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <h5 class="modal-title cat-tit" id="exampleModalLabel">{{news.title}}</h5>
                                            <p class="card-title ti-date">
                                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                                            </p>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for para in news.data %}
                                            <p class="cat-content">{{para}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                {% endfor %}
            <a class="btn btn-success nt-btn" href="https://www.cnn.com/style" target="_blank">Read more Style news on CNN</a>
        </div>
        {% endif %}
        <!-- END STYLE -->


        <!-- START TRAVEL -->
        {% if user.travel %}
            {% if flag %}
                <div id="travel" class="container tab-pane in active">
                {% update_variable False as flag %}
            {% else %}
                <div id="travel" class="container tab-pane">
            {% endif %}          
                {% for news in travelnews %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="cat-tit">{{news.title}}</h5>
                            <p class="card-title ti-date">
                                {{ news.date }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text cat-content">
                                {{news.data.0}}
                            </p>
                            <p class="card-text cat-content">
                                {{news.data.1}}
                            </p>
                            <small>
                                <a class="btn-readmore btn" href="#" data-toggle="modal" data-target="#{{news.title}}">Read More...</a>
                                <div class="modal fade modal0" id="{{news.title}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            </small>{}
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <h5 class="modal-title cat-tit" id="exampleModalLabel">{{news.title}}</h5>
                                            <p class="card-title ti-date">
                                                {{ news.author }} 
                                            </p>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for para in news.data %}
                                            <p class="cat-content">{{para}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                {% endfor %}
            <a class="btn btn-success nt-btn" href="https://www.cnn.com/travel" target="_blank">Read more Travel news on CNN</a>
        </div>
        {% endif %}
        <!-- END TRAVEL -->


         <!-- START SPORTS -->
        {% if user.sports %}
            {% if flag %}
                <div id="sports" class="container tab-pane in active">
                {% update_variable False as flag %}
            {% else %}
                <div id="sports" class="container tab-pane">
            {% endif %}
                
                {% for news in sportsnews %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="cat-tit">{{news.title}}</h5>
                            <p class="card-title ti-date">
                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text cat-content">
                                {{news.data.1}}
                            </p>
                            <p class="card-text cat-content">
                                {{news.data.2}}
                            </p>
                            <small>
                                <a class="btn-readmore btn" href="#" data-toggle="modal" data-target="#{{news.title}}">Read More...</a>
                                <div class="modal fade modal0" id="{{news.title}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            </small>{}
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <h5 class="modal-title cat-tit" id="exampleModalLabel">{{news.title}}</h5>
                                            <p class="card-title ti-date">
                                                {{ news.author }} {{ " Updated at " }} {{ news.date }}
                                            </p>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for para in news.data %}
                                            <p class="cat-content">{{para}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br>
                {% endfor %}
            <a class="btn btn-success nt-btn" href="https://bleacherreport.com/" target="_blank">Read more Sports news on CNN</a>
        </div>
        {% endif %}
        <!-- END SPORTS -->


        </div>


    {% else  %}
        <br><br>
        <div class="card text-left">
            <div class="card-body card-getstarted">
                <h4 class="card-title">Tune your News!</h4>
                <h6 class="text-muted card-subtitle mb-2">Organize all your news topics that matter to you.<br><br>All in one place.</h6><a href="{% url 'signup' %}"><button class="btn btn-success nt-btn btn-getstarted" type="button">Get Started</button></a><a href="{% url 'login' %}"><button class="btn btn-success nt-btn-trans btn-getstarted-login">Login</button></a></div>
        </div>
        <br><br>
        <div class="features-boxed">
            <div class="container">
                <div class="intro">
                    <br>
                    <h3 class="text-center">Never miss important News!</h3>
                </div>
                <div class="row text-left justify-content-start features">
                    <div class="col-sm-6 col-md-5 col-lg-4 item ft-item">
                        <div class="text-left border rounded box" style="width: 300px;"><i class="fas fa-book-open icon"></i>
                            <h3 class="text-left name">Read</h3>
                            <p class="text-left description">News Tunes offers a clean reading experience optimized for productivity</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="text-left border rounded box" style="width: 300px;"><i class="far fa-bookmark icon"></i>
                            <h3 class="name">Bookmark</h3>
                            <p class="description">Save articles and easily<br>get back to them <br>for future read</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="text-left border rounded box" style="width: 300px;"><i class="far fa-star icon"></i>
                            <h3 class="name">Discover</h3>
                            <p class="description">Discover on niche and<br>broad topics to mainstream new stories</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="text-left border rounded box" style="width: 300px;"><i class="fas fa-boxes icon"></i>
                            <h3 class="name">Organize</h3>
                            <p class="description">News Tunes helps you by<br>arranging the contents into easy-to-read feeds</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="text-left border rounded box" style="width: 300px;"><i class="fas fa-search icon"></i>
                            <h3 class="name">Search</h3>
                            <p class="description">Search for your favourite news or<br>any specific articles that <br>interests you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
