<!-- templates/profile.html -->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/Features-Boxed.css'%}">
  <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
  <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
  <link rel="stylesheet" href="{% static 'css/Navigation-Clean.css' %}">
  <link rel="stylesheet" href="{% static 'css/Navigation-with-Search.css' %}">
  <link rel="stylesheet" href="{% static 'css/slider.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <div class="col dummy10"></div> 
  <div class="login-clean bd-form">
    
    <form method="POST">
      <h5 class="text-center nt-login-head">Preferences</h5>
      {% csrf_token %}
      <div class="card">
        <div class="card-body">

          <div class="form-row nt-grid-image-cont">
            {% for field in form %}
            {% if field.name == "usa" %}
            <div class="col nt-grid-image usa">
              <label class="nt-grid-lab ">{{ field.label_tag }} </label> {{field}}
            </div>
            {% elif field.name == "world" %}
            <div class="col nt-grid-image world">
              <label class="nt-grid-lab ">{{ field.label_tag }} </label> {{field}}
            </div>
            {% elif field.name == "business" %}
            <div class="col nt-grid-image business">
              <label class="nt-grid-lab ">{{ field.label_tag }} </label> {{field}}
            </div>
            {% else %}
            
            {% endif %}
            {% endfor %}
          </div>
              
          <div class="form-row nt-grid-image-cont">
            {% for field in form %}
            {% if field.name == "opinion" %}
            <div class="col nt-grid-image opinion">
              <label class="nt-grid-lab ">{{ field.label_tag }} </label> {{field}}
            </div>
            {% elif field.name == "health" %}
            <div class="col nt-grid-image health">
              <label class="nt-grid-lab ">{{ field.label_tag }} </label> {{field}}
            </div>
            {% elif field.name == "entertainment" %}
            <div class="col nt-grid-image entertainment">
              <label class="nt-grid-lab " style="font-size: 10px;">{{ field.label_tag }} </label> {{field}}
            </div>
            {% else %}
            
            {% endif %}
            {% endfor %}
          </div>
        
          <div class="form-row nt-grid-image-cont">
            {% for field in form %}
            {% if field.name == "style" %}
            <div class="col nt-grid-image style">
              <label class="nt-grid-lab ">{{ field.label_tag }} </label> {{field}}
            </div>
            {% elif field.name == "travel" %}
            <div class="col nt-grid-image travel">
              <label class="nt-grid-lab ">{{ field.label_tag }} </label> {{field}}
            </div>
            {% elif field.name == "sports" %}
            <div class="col nt-grid-image sports">
              <label class="nt-grid-lab ">{{ field.label_tag }} </label> {{field}} 
            </div>
            {% else %}
            
            {% endif %}
            {% endfor %}
          </div>
          <br>
          
          <button class="btn pref-btn nt-btn" type="submit">Save</button>       
        </div>
      </div>
    </form>
  </div>
  

{% endblock %}
